[Unit]
Description=K3s kubelet wrapper service

[Service]
EnvironmentFile=/etc/docker.env
ExecStart=/docker/start.sh
StandardOutput=tty
StandardError=tty
TTYPath=/dev/console
Restart=on-failure
Delegate=yes

[Install]
WantedBy=rescue.target
